@media (max-width: 1200px) {
  .title {
    font-size: 1.5rem;
  }
}
@media (max-width: 1000px) {
  .img_item {
    width: 47%;
    margin: 0 5px;
  }
  .section4_img_list {
    flex-flow: wrap;
  }
  .section4_img_item {
    width: 47%;
    margin: 10px 5px;
  }

  .img_list {
    justify-content: center;
  }
}
@media (max-width: 800px) {
  .logo {
    margin-left: 10px;
  }
  .logo img {
    width: 80%;
  }
  .nav_btn {
    display: block;
  }
  .nav_list {
    display: none;
  }
  .footer_wrap {
    flex-direction: column;
  }
  .footer_wrap ul {
    margin-bottom: 20px;
  }
  .title {
    font-size: 1rem;
  }
}
